/* Stylesheet content from css/reset.css in folder common *//* Stylesheet content from css/reset.css in folder common */
/* Reset CSS */
html, body {
	background: transparent;
	color: #000;
	height: 100%;
}

/* Reset CSS */
html, body {
	background: transparent;
	color: #000;
	height: 100%;
}
